#errmsg { color:red; }
.tabel th {
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}
.tabel td {
	border: 1px solid #dddddd;
}
body{
	font-family:Ubuntu;
}
div.title{
	color:#959595;
	margin-left:30px;
	font-size:28px;
}
div.titleTab{
	color:#959595;
	margin-left:10px;
	font-size:18px;
}
div.subtitle{
	color:#959595;
	margin-top:10px;
	margin-left:35px;
	font-size:14px;
}
div#containerSimda{
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
}
#ContainerloginSimda{
	background-color:#A2A169;
	padding-top:5px;
	padding-bottom:20px;
	padding-right:20px;
	text-align:right;
	color:#fff;
	font-weight:normal;
}
.loginSimda{
	background-image:url(../img/login_bg.jpg); 
	background-size: 37px 38px;
	background-repeat:no-repeat;
	background-position:left;
	background-color:#A3CE4B;
	margin-right:-10px;
	width:300px;
	padding-top:12px;
	padding-bottom:7px;
	padding-right:20px;
	border:0px solid #000;
	float:right;
}
.loginSimda a:hover{
	text-decoration:none;
}
#pembatasHeader{
	background-color:#A2A169;
}
header{
	background-color:#003926;
}
.home{
	padding-top:0px;
	padding-bottom:0px;
}
#breadcrumb{
	/*margin-top:5px;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:16px;*/
	/*background-color:#A2A169;
	color:#fff;*/
}
section.logo_konten{
	margin:0 auto;
	margin-top:5px;
	width:90%;
	border:1px solid #000;
	border-radius:3px;
	padding:10px;
}
section.formLegend{
	margin:0 auto;
	margin-top:10px;
	width:90%;
	border:0px solid #DDDDDD;
	border-radius:3px;
	padding:10px;
	padding-bottom:50px;
}
section.formLegend li{
	list-style:none;
}
section.formLegend .detailLeft{
	float:left;
}
section.formLegend .detailLeft .labelInfo{
	width:100px;
	display:inline-block;
	text-align:right;
	padding-right:10px;
	font-weight:bold;
}
section.formLegend .detailRight .labelInfo{
	width:200px;
	display:inline-block;
	text-align:right;
	padding-right:10px;
	font-weight:bold;
}
section.formLegend .detailRight{
	float:Right;
}
section.formLegend .titleLegend{
	margin-top:-20px;
	margin-left:10px;
}
.label.Legendtitle{
	padding:4px 40px;
	font-size:15px;
}
section.formLegend .titleSp2dTermin{
	margin-top:-20px;
	margin-left:10px;
	font-size:12px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:150px;
	border-radius:2px;
	font-weight:bold;
}
section.formLegend .titleSp2dPenunjang{
	margin-top:-20px;
	margin-left:10px;
	font-size:12px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:180px;
	border-radius:2px;
	font-weight:bold;
}
section.formLegend .titleSp2dRPenunjang{
	margin-top:-20px;
	margin-left:10px;
	font-size:12px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:200px;
	border-radius:2px;
	font-weight:bold;
}
#myModal.modalkontrak{
	width:900px;
	margin-left:-450px
}
#myModal li{
	list-style:none;
}

#myModal2.modalkontrak{
	width:900px;
	margin-left:-450px
}
#myModal2 li{
	list-style:none;
}
#myModal3 li{
	list-style:none;
}
#titleForm{
	background-color:#145C38;
	color:#fff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.formKontrak{
	float:left;
	
}
.formPerusahaan{
	float:left;
}
#myModal .formKontrak li .labelkontrak{
	width:200px;
	display:inline-block;
}

#myModal3 .formLogin li .labellogin{
	width:100px;
	display:inline-block;
}
#myModal3.login{
	width:400px;
	margin:0 auto;
	margin-left:-180px;
}
#myModal .formPerusahaan li .labelperusahaan{
	width:90px;
	border:0px solid #000;
	display:inline-block;
}

#myModal2 .formKontrak li .labelkontrak{
	width:200px;
	display:inline-block;
}
#myModal2 .formPerusahaan li .labelperusahaan{
	width:90px;
	border:0px solid #000;
	display:inline-block;
}
.formKontrak h3.grs-bottom{
	border-bottom:1px solid #EEEEEE;
}
.formKontrak span.titleForm{
	background-color:#A3CE4B;
	padding:5px 40px 5px 20px;
	border-top-left-radius:5px;
	border-top-right-radius:60px 40px;
}
.formPerusahaan h3.grs-bottom{
	border-bottom:1px solid #EEEEEE;
}
.formPerusahaan span.titleForm{
	background-color:#A3CE4B;
	padding:5px 40px 5px 20px;
	border-top-left-radius:5px;
	border-top-right-radius:60px 40px;
}
nav{
	background-color:#D5D5BB;
	width:100%;
}
nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
nav li h3{
	background-color:#003C2A;
	color:#CEE2FA;
	padding:0px 20px;
	margin-bottom:0px;
	margin-top:0px;
	font-size:14px;
	/*border-top-right-radius:2px;
	border-bottom-right-radius:2px;*/
}
nav li li{
	background-color:#024d36;
	border-top:1px solid #046a4b;
	border-bottom:1px solid #02432f;
	border-left:2px solid #B1B3B2;
	border-right:2px solid #003C2A;
	font-size:12px;
	padding:5px 20px;
}
nav li li table{
	color:#fff;
}
nav li li table a{
	background-color:#024d36;

}
nav li a{
	background-color:#4A5B6D;
	text-decoration:none;
	color:#CEE2FA;
}
nav li a.iconHOme{
	background-color:#4A5B6D;
	text-decoration:none;
	color:#CEE2FA;
	text-align:center;
}
nav li a:hover{
	text-decoration:none;
	color:#000;
}
nav li a li:hover{
	background-color:#A3CE4B;
	transition:background 1s ease;
	text-decoration:none;
}
/*nav li ul {
    display: none; // used to hide sub-menus
}*/
section#main{
	background-color:#F9F9F9;
	width:80%;
	float:right;
}
aside{
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D5D5BB)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #D5D5BB, #FFFFFF); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #D5D5BB, #FFFFFF); /* IE 10 */ 
	background: -ms-linear-gradient(top, #D5D5BB, #FFFFFF); /* Opera 11.10+ */ background: -o-linear-gradient(top, #D5D5BB, #FFFFFF);
	width:20%;
	float:left;
}
footer{
	margin-top:30px;
	background-color:#15422E;
	height:50px;
	clear:both;
}

/* Tambahan dari bayu */
.grey-container {
  background: #eee;
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-width: 1px 0 1px 0;
}
.shortcut-wrapper {
  text-align: center;
}
@media (max-width: 767px) {
  .shortcut-wrapper {
    text-align: left;
  }
}
.shortcut-link {
  display: inline-block;
  color: #ccc;
  margin-right: 20px;
  text-shadow: 0 1px 0 #fff;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.shortcut-link .shortcut-icon {
  position: relative;
  font-size: 30px;
}
.shortcut-link .shortcut-icon .shortcut-alert {
  position: absolute;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  font-size: 11px;
  color: #fff;
  top: 0;
  right: 0;
  background: #ec2525;
  border: 1px solid #ec2525;
  text-shadow: none;
  font-weight: bold;
  line-height: 16px;
  width: 18px;
  height: 18px;
  text-align: center;
}
.shortcut-link .text {
  display: inline-block;
  margin-left: 10px;
  margin-top: -5px;
  color: #626262;
  font-weight: 600;
}
.shortcut-link:hover {
  text-decoration: none;
  color: #626262;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

