
body{
	font-family:Helvetica;
}
div#containerSimda{
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-10px;
}
#ContainerloginSimda{
	background-color:#A2A169;
	padding-top:5px;
	padding-bottom:20px;
	padding-right:20px;
	text-align:right;
	color:#fff;
	font-weight:normal;
}
.loginSimda{
	background-image:url(../img/login_bg.jpg); 
	background-size: 37px 38px;
	background-repeat:no-repeat;
	background-position:left;
	background-color:#A3CE4B;
	margin-right:-10px;
	width:300px;
	padding-top:12px;
	padding-bottom:7px;
	padding-right:20px;
	border:0px solid #000;
	float:right;
}
.loginSimda a:hover{
	text-decoration:none;
}
#pembatasHeader{
	background-color:#A2A169;
}
header{
	background-color:#003926;
}
.home{
	padding-top:0px;
	padding-bottom:0px;
}
#breadcrumb{
	margin-top:5px;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:16px;
	background-color:#A2A169;
	color:#fff;
}
section.logo_konten{
	margin:0 auto;
	margin-top:5px;
	width:90%;
	border:1px solid #000;
	border-radius:3px;
	padding:10px;
}
section.formLegend{
	margin:0 auto;
	margin-top:50px;
	width:90%;
	border:1px solid #DDDDDD;
	border-radius:3px;
	padding:10px;
	padding-bottom:50px;
}
section.formLegend li{
	list-style:none;
}
section.formLegend .detailLeft{
	float:left;
}
section.formLegend .detailLeft .labelInfo{
	width:100px;
	display:inline-block;
	text-align:right;
	padding-right:10px;
	font-weight:bold;
}
section.formLegend .detailRight .labelInfo{
	width:200px;
	display:inline-block;
	text-align:right;
	padding-right:10px;
	font-weight:bold;
}
section.formLegend .detailRight{
	float:Right;
}
section.formLegend .titleLegend{
	margin-top:-20px;
	margin-left:10px;
	font-size:16px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:130px;
	border-radius:2px;
	font-weight:bold;
}
section.formLegend .titleSp2dTermin{
	margin-top:-20px;
	margin-left:10px;
	font-size:16px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:150px;
	border-radius:2px;
	font-weight:bold;
}
section.formLegend .titleSp2dPenunjang{
	margin-top:-20px;
	margin-left:10px;
	font-size:16px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:180px;
	border-radius:2px;
	font-weight:bold;
}
section.formLegend .titleSp2dRPenunjang{
	margin-top:-20px;
	margin-left:10px;
	font-size:16px;
	background-color:#A3CE4B;
	padding:2px 40px;
	width:200px;
	border-radius:2px;
	font-weight:bold;
}
#myModal.modalkontrak{
	width:900px;
	margin-left:-450px
}
#myModal li{
	list-style:none;
}

#myModal2.modalkontrak{
	width:900px;
	margin-left:-450px
}
#myModal2 li{
	list-style:none;
}
#myModal3 li{
	list-style:none;
}
#titleForm{
	background-color:#15422E;
	color:#fff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.formKontrak{
	float:left;
	
}
.formPerusahaan{
	float:left;
}
#myModal .formKontrak li .labelkontrak{
	width:200px;
	display:inline-block;
}

#myModal3 .formLogin li .labellogin{
	width:100px;
	display:inline-block;
}
#myModal3.login{
	width:400px;
	margin:0 auto;
	margin-left:-180px;
}
#myModal .formPerusahaan li .labelperusahaan{
	width:90px;
	border:0px solid #000;
	display:inline-block;
}

#myModal2 .formKontrak li .labelkontrak{
	width:200px;
	display:inline-block;
}
#myModal2 .formPerusahaan li .labelperusahaan{
	width:90px;
	border:0px solid #000;
	display:inline-block;
}
.formKontrak h3.grs-bottom{
	border-bottom:1px solid #000;
}
.formKontrak span.titleForm{
	background-color:#A3CE4B;
	padding:5px 40px 5px 20px;
	border-top-left-radius:5px;
	border-top-right-radius:60px 40px;
}
.formPerusahaan h3.grs-bottom{
	border-bottom:1px solid #000;
}
.formPerusahaan span.titleForm{
	background-color:#A3CE4B;
	padding:5px 40px 5px 20px;
	border-top-left-radius:5px;
	border-top-right-radius:60px 40px;
}
nav{
	background-color:#D5D5BB;
	width:90%;
}
nav ul{
	margin:0;
	padding:0;
	list-style:none;
}
nav li h3{
	background-color:#15422E;
	color:#fff;
	padding:0px 20px;
	margin-bottom:0px;
	margin-top:0px;
	font-size:14px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	width:85%;
}
nav li li{
	background-color:#E8F8DD;
	border-top:1px solid #B1B3B2;
	border-bottom:1px solid #B1B3B2;
	border-left:2px solid #B1B3B2;
	border-right:2px solid #B1B3B2;
	font-size:12px;
	padding:5px 20px;
}
nav li a{
	background-color:#E8F8DD;
	text-decoration:none;
	color:#000;
}

nav li a:hover{
	text-decoration:none;
	color:#000;
}
nav li a li:hover{
	background-color:#A3CE4B;
	transition:background 1s ease;
	text-decoration:none;
}
section#main{
	background-color:#FFFFFF;
	width:80%;
	float:right;
}
aside{
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D5D5BB)); /* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #D5D5BB, #FFFFFF); /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #D5D5BB, #FFFFFF); /* IE 10 */ 
	background: -ms-linear-gradient(top, #D5D5BB, #FFFFFF); /* Opera 11.10+ */ background: -o-linear-gradient(top, #D5D5BB, #FFFFFF);
	width:20%;
	float:left;
}
footer{
	background-color:#993398;
	height:50px;
	clear:both;
}