
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Mengolah Data Services Simbada <i>(Contoh)</i>
            <!-- <small>Daftar Aset Tetap</small> -->
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <!-- <li><a href="#"> Daftar Aset Tetap</a></li> -->
            <li class="active">Kode Satker</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
         <div class="row">
              <div class="col-md-12">
              <!-- Custom Tabs -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li  class="active"><a href="{$basedomain}home/mengolahData/?page=1">Penjelasan</a></li>
                  <li><a href="{$basedomain}home/mengolahData/?page=2">Daftar Aset Tetap</a></li>
                  <li><a href="{$basedomain}home/mengolahData/?page=3">Kode Satker</a></li>
                  <li><a href="{$basedomain}home/mengolahData/?page=4">Kode Kelompok</a></li>
                 
                </ul>
                <div class="tab-content">
                  <div id="tab_1" class="tab-pane active">
                    <b>Langkah -Langkah Menggunakan Services:</b>
                   <ol>
                      <li>Get Data</li>
                      <li>Fetch Data</li>
                      <li>View Data</li>
                   </ol>
                  </div><!-- /.tab-pane -->
                  
                </div><!-- /.tab-content -->
              </div><!-- nav-tabs-custom -->
            </div>
         </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
  
