admin/css/*
config/database.php
config/path_system.php
doc/*
foto/*
fotonota/*
log/*
simbada_bimtek/*
report/output/*.pdf
report/data/*
report/footer/*
db/simda_to_simbada.sql
*.bak
*.swp
config/config.php
db/*
htacess-ovan
module/regrouping/log/*
/img/
/page_admin/css/