<header class="main-header">

        <img src="{$basedomain}assets/img/header2.jpg" width="100%"/>
        <!-- Logo -->
        <a href="{$basedomain}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>SS</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Services</b> Simbada</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          

        </nav>
      </header>

            <div class="clearfix visible-lg-block"></div>