
 <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
         
        
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a href="{$basedomain}" id="clickpage" class="activ">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-file-archive-o"></i> <span>Daftar Aset Tetap</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{$basedomain}home/index/?page=1" id="click" class="page"><i class="fa fa-inbox"></i> Tanah</a>
                </li>
                <li><a href="{$basedomain}home/index/?page=2" id="click" class="page"><i class="fa fa-gears"></i> Peralatan dan Mesin</a></li>
                <li><a href="{$basedomain}home/index/?page=3"><i class="fa fa-building-o"></i> Gedung dan Bangunan</a></li>
                <li><a href="{$basedomain}home/index/?page=4" id="click" class="page"><i class="fa fa-road"></i> Jalan, Irigasi dan Jaringan</a></li>
                <li><a href="{$basedomain}home/index/?page=5" id="click" class="page"><i class="fa fa-list"></i> Aset Tetap Lainnya</a></li>
                <li><a href="{$basedomain}home/index/?page=6" id="click" class="page"><i class="fa fa-truck"></i> Konstruksi Dalam Pengerjaan</a></li>
              </ul>
            </li>
            <li class="active treeview">
              <a href="{$basedomain}home/index/?page=7" id="clickpage">
                <i class="fa fa-file-archive-o"></i>
                <span>Daftar Aset Lainnya</span>
              </a>
            </li>
            <li class="active treeview">
              <a href="{$basedomain}home/index/?page=8" id="clickpage">
                <i class="fa fa-file-archive-o"></i>
                <span>Daftar Barang Non Aset</span>
              </a>
            </li>
            <li class="active treeview">
              <a href="{$basedomain}home/index/?page=9" id="clickpage">
                <i class="fa fa-file-archive-o"></i>
                <span>Rekapitulasi Barang ke Neraca</span>
              </a>
            </li>

            <li class="active treeview">
              <a href="{$basedomain}home/index/?page=10" id="clickpage">
                <i class="fa fa-file-archive-o"></i>
                <span>Kode Satker</span>
              </a>
            </li>

            <li class="active treeview">
              <a href="{$basedomain}home/index/?page=11" id="clickpage">
                <i class="fa fa-file-archive-o"></i>
                <span>Kode Kelompok</span>
              </a>
            </li>

            <li class="active treeview">
              <a href="{$basedomain}home/mengolahData" id="clickpage">
                <i class="fa fa-refresh"></i>
                <span>Mengolah Data Services</span>
              </a>
            </li>
           
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>